*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:'Poppins',sans-serif;
}

body{

    height:100vh;

    display:flex;

    justify-content:center;

    align-items:center;

    background:

    linear-gradient(rgba(0,0,0,.55),rgba(0,0,0,.55)),

    url("https://images.unsplash.com/photo-1540747913346-19e32dc3e97e?auto=format&fit=crop&w=1600&q=80");

    background-size:cover;

    background-position:center;

}

.card{

    width:450px;

    padding:45px;

    background:rgba(255,255,255,.12);

    backdrop-filter:blur(18px);

    border-radius:22px;

    text-align:center;

    color:white;

    box-shadow:0 15px 40px rgba(0,0,0,.35);

}

.card h1{

    margin-bottom:18px;

    font-size:34px;

}

.card p{

    color:#dddddd;

    line-height:1.6;

    margin-bottom:30px;

}

input{

    width:100%;

    padding:15px;

    border:none;

    border-radius:10px;

    font-size:16px;

    outline:none;

    margin-bottom:18px;

}

button{

    width:100%;

    padding:15px;

    border:none;

    border-radius:10px;

    background:#00c853;

    color:white;

    font-size:17px;

    cursor:pointer;

    transition:.3s;

}

button:hover{

    background:#00a844;

    transform:translateY(-2px);

}